<!doctype html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kreiselkleider</title>
    <!-- Import von Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Import von Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis&display=swap" rel="stylesheet">
    <!-- Import der zusätzlichen CSS-DAtei für eigene Styles, welche nicht in Bootstrap enthalten sind  -->
    <link rel="stylesheet" href="/styles/styles.css">
    <!-- Import der JavaScript-Datei für Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

    <!-- Übergeordneter Container für den Angriffspunkt von Vue.js  -->
    <div id="appVue">
        <!-- Navigationsleiste -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark pt-lg-3 sticky-top">
            <div class="container">
                <!-- Logo -->
                <a class="navbar-brand fw-bold fs-2" href="#">
                    <img src="/assets/Logo.png" alt="Logo" width="40" height="40"
                        class="d-inline-block align-text-top me-2">
                    Kreiselkleider
                </a>
                <!-- Burger-Menü für kleine Endgeräte (wird auf großen Endgeräten nicht angezeigt)  -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Liste mit den einzelnen Menüpunkten -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 fs-4">
                        <li class="nav-item mx-lg-2">
                            <a class="nav-link text-white" href="/index.html">Spende</a>
                        </li>
                        <li class="nav-item mx-lg-2">
                            <a class="nav-link text-white" href="Spendenregionen.html">Spendenregionen</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>


        <!-- Container für die Überschrift und den Einleitungstext -->
        <div class="container mt-3">
            <h2>Herzlich Willkommen bei Kreiselkleider!</h2>
            <p class="mt-5 fs-5 col-12 col-xl-8">
                Im folgenden können Sie Ihre Kleider für eine Spende registrieren. Sie können dabei auswählen, ob Ihre
                Kleider von einem Ort Ihrer Wahl abgeholt werden oder Sie diese direkt in der Geschäftsstelle
                vorbeibringen
                möchten.
                <br> Außerdem können Sie auswählen, in welche Spendenregion Ihre Kleiderspende gespendet werden soll.
                <br> Viel Spaß bei der Spende!
            </p>
        </div>

        <!-- Eingabe der Kleiderspande -->
        <div class="container mt-5 footer" :class="{'d-none':wasValidated}">
            <!-- Überschrift  -->
            <h2 id="kleiderspende">Kleiderspende</h2>

            <!-- Schalter für die Auswahl des Übergabeorts der Kleiderspende  -->
            <div class="mt-4">
                Übergabe an der Geschäftsstelle
                <label class="switch mx-2">
                    <input @change="onChangeSwitchAbholung" id="switchAbholung" type="checkbox">
                    <span class="slider round"></span>
                </label>
                Abholung
            </div>

            <!-- Formular für die Dateneingabe -->
            <form class="mt-4 row g-3">

                <!-- Eingabe der Art der Kleiderspende mit Überprüfung, ob ein Text eingegeben wurde -->
                <div class="mb-3 col-12 col-xl-8">
                    <label for="inputArtKleiderspende" class="form-label">Art der Kleiderspende *</label>
                    <input autocomplete="off" type="text" class="form-control" :class="{'is-valid': validEingabeArtKleiderspende, 'is-invalid':
                        invalidEingabeArtKleiderspende}" id="inputArtKleiderspende" v-model="artKleiderspende"
                        placeholder="Art der Kleiderspende ...">
                    <div class="invalid-feedback">
                        Bitte geben Sie ein Art der Kleiderspende ein!
                    </div>
                </div>

                <!-- Dropdown für die Auswahl des Krisengebiets -->
                <div class="mb-3 col-12 col-xl-8">
                    <label for="selectKriesengebiet" class="form-label">Krisengebiet *</label>
                    <select autocomplete="off" id="selectKriesengebiet" class="form-select" :class="{'is-valid': validEingabeKrisengebiet, 'is-invalid':
                        invalidEingabeKrisengebiet}" aria-label="Default select example" v-model="krisengebiet">
                        <option value="x" selected>Wählen Sie ein Krisengebiet...</option>
                        <option value="Kolumbien">Kolumbien</option>
                        <option value="Chile">Chile</option>
                        <option value="Mali">Mali</option>
                        <option value="Nigeria">Nigeria</option>
                        <option value="Sudan">Sudan</option>
                        <option value="Syrien">Syrien</option>
                        <option value="Demokratische Republik Kongo">Demokratische Republik Kongo</option>
                        <option value="Ukraine">Ukraine</option>
                    </select>
                    <div class="invalid-feedback">Bitte wählen Sie ein Kriesengebiet.</div>
                </div>
                <!-- Zeilenumbruch im Formular -->
                <div class="col-md-12" :class="{'d-none': !abholung}"></div>
                <!-- Eingabefeld für den Vornamen -->
                <div class="col-12 col-md-6 col-xl-4" :class="{'d-none': !abholung}">
                    <label for="inputVorname" class="form-label">Vorname *</label>
                    <input autocomplete="off" type="text" class="form-control" id="inputVorname" v-model="vorname"
                        :class="{'is-valid': validEingabeVorname, 'is-invalid':
                        invalidEingabeVorname}">
                    <div class="invalid-feedback">
                        Bitte geben Sie einen Vornamen ein!
                    </div>
                </div>
                <!-- Eingabefeld für den Nachnamen als Freitext -->
                <div class="col-12 col-md-6 col-xl-4" :class="{'d-none': !abholung}">
                    <label for="inputNachname" class="form-label">Nachname *</label>
                    <input autocomplete="off" type="text" class="form-control" id="inputNachname" v-model="nachname"
                        :class="{'is-valid': validEingabeNachname, 'is-invalid':invalidEingabeNachname}">
                    <div class="invalid-feedback">
                        Bitte geben Sie einen Nachnamen ein!
                    </div>
                </div>
                <!-- Zeilenumbruch -->
                <div class="col-md-12" :class="{'d-none': !abholung}"></div>
                <!-- Eingabefeld für die Straße -->
                <div class="col-9 col-md-9 col-xl-5" :class="{'d-none': !abholung}">
                    <label for="inputStrasse" class="form-label">Straße *</label>
                    <input autocomplete="off" type="text" class="form-control" id="inputStrasse" v-model="strasse"
                        :class="{'is-valid': validEingabeStrasse, 'is-invalid':invalidEingabeStrasse}">
                    <div class="invalid-feedback">
                        Bitte geben Sie eine Straße ein!
                    </div>
                </div>
                <!-- Eingabefeld für die Hausnummer (je nachdem wir groß das Endgeräte ist, wird entweder Hausnummer ausgeschrieben oder abgekürzt) -->
                <div class="col-3" :class="{'d-none': !abholung}">
                    <label for="inputHausnummer" class="form-label d-md-none">Nr. *</label>
                    <label for="inputHausnummer" class="form-label d-none d-md-block">Hausnummer *</label>
                    <input autocomplete="off" type="text" class="form-control" id="inputHausnummer"
                        :class="{'is-valid': validEingabeHausnummer, 'is-invalid':invalidEingabeHausnummer}"
                        v-model="hausnummer">
                    <div class="invalid-feedback">
                        Bitte geben Sie eine richtige Hausnummer ein!
                    </div>
                </div>
                <!-- Zeilenumbruch -->
                <div class="col-md-12" :class="{'d-none': !abholung}"></div>
                <!-- Eingabefeld für die PLZ -->
                <div class="col-4 col-xl-3" :class="{'d-none': !abholung}">
                    <label for="inputPlz" class="form-label">PLZ *</label>
                    <input @change="changePlz" autocomplete="off" type="text" class="form-control" id="inputPlz"
                        :class="{'is-valid': validEingabePlz, 'is-invalid':invalidEingabePlz}" v-model="plz">
                    <div class="invalid-feedback">
                        {{fehlermeldungPlz}}
                    </div>
                </div>
                <!-- Feld für die Anzeige der Stadt, wird nciht für die Eingabe verwendet, sondern wird per Skript gefüllt -->
                <div class="col-8 col-xl-5" :class="{'d-none': !abholung}">
                    <label for="inputStadt" class="form-label">Stadt</label>
                    <input autocomplete="off" type="text" class="form-control" id="inputStadt" v-model="ort" readonly>
                </div>
            </form>
            <!-- Button, um die Eingabe zu bestätigen -->
            <!-- Button wird außerhalb des Formulars platziert, da das Formular sonst an den Server abgesendet wird -->
            <!-- Da in dieser Fallstudie keine Programmierung des Webservers vorgesehen ist, kann die Überprüfung der Eingabedaten nur clientseitig ausgeführt werden, sodass das Formular nicht abgesendet werden darf -->
            <div class="d-flex flex-row justify-content-end col-12 col-xl-8 mt-3">
                <button @click="validation" class="btn btn-danger">Registrieren</button>
            </div>
        </div>

        <!-- Felder für die Bestätigung der Registrierung -->
        <!-- Der Container wird erst nach erfolgreicher Registrierung angezeigt, während der Container für die Formulareingabe ausgeblendet wird -->
        <!-- Die Befüllung der span-Elemente erfolgt parallel zur Eingabe, sodass keine zusätzlcihe Zwischenspeicherung der Daten erforderlich ist -->
        <div class="container mt-5 footer fs-5" id="registration" :class="{'d-none':!wasValidated}">
            <h2>Vielen Dank für Ihre Kleiderspende!</h2>
            <p class="mt-5">Wir haben folgende Eingaben von Ihnen registiert:</p>

            <div class="row align-items-baseline">
                <label class="col-5 col-md-4 col-lg-3" for="spanEingabeAbholung">Übergabeart:</label>
                <span class="col-7" id="spanEingabeAbholung">{{eingabeAbholung}}</span>
            </div>
            <div class="row mt-2 align-items-baseline">
                <label class="col-5 col-md-4 col-lg-3" for="spanDatumUhrzeit">Datum, Uhrzeit:</label>
                <span class="col-7" id="spanDatumUhrzeit">{{datum + ' , ' + uhrzeit}}</span>
            </div>
            <div class="row mt-2 align-items-baseline">
                <label class="col-5 col-md-4 col-lg-3" for="spanEingabeKrisengebiet">Krisengebiet:</label>
                <span class="col-7" id="spanEingabeKrisengebiet">{{krisengebiet}}</span>
            </div>
            <div class="row mt-2 align-items-baseline">
                <label class="col-5 col-md-4 col-lg-3" for="spanEingabeKleiderart">Art der Kleiderspende:</label>
                <span class="col-7" id="spanEingabeKleiderart">{{artKleiderspende}}</span>
            </div>
            <div class="row mt-2 align-items-baseline" :class="{'d-none': !abholung}">
                <label class="col-5 col-md-4 col-lg-3" for="spanEingabeKrisengebiet">Name:</label>
                <span class="col-7" id="spanEingabeKrisengebiet">{{vorname + ' ' + nachname}}</span>
            </div>
            <div class="row mt-2 align-items-baseline" :class="{'d-none': !abholung}">
                <label class="col-5 col-md-4 col-lg-3" for="spanEingabeKrisengebiet">Anschrift:</label>
                <span class="col-7" id="spanEingabeKrisengebiet">{{strasse + ' ' + hausnummer}}</span>
            </div>
            <div class="row mt-2 align-items-baseline" :class="{'d-none': !abholung}">
                <label class="col-5 col-md-4 col-lg-3" for="spanEingabeKrisengebiet"></label>
                <span class="col-7" id="spanEingabeKrisengebiet">{{plz + ' ' + ort}}</span>
            </div>

        </div>

    </div>
    <!-- Footer -->
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand fs-5" href="#">&copy 2023 Kreiselkleider</a>
            <a class="navbar-brand fs-5" href="impressum.html">Impressum</a>
        </div>
    </nav>

    <!-- Import des Skriptes für Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
    <!-- Import des Skriptes für die Funktionalitäten unter Verwendung von Vue.js -->
    <script type="module" src="/scripts/main.js"></script>

</body>

</html>