body {
  font-family: 'Dosis', sans-serif;
  background-color: rgba(230, 227, 227, 0.734);
}

button {
  color: black !important;
}


.footer {
  margin-bottom: 90px;
}

.btn-danger {
  background-color: rgba(255, 0, 0, 0.57);
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 2px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: rgba(255, 0, 0, 0.57);
}

input:focus+.slider {
  box-shadow: 0 0 1px rgba(255, 0, 0, 0.57);
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
}

.carousel-control-prev,
.carousel-control-next {
  bottom: auto !important;
  height: 440px !important;
  width: 10% !important;
}

.carousel-inner img {
  height: 440px;
}

.carousel-indicators {
  top: 400px !important
}

.carousel-caption {
  top: 350px;
  bottom: auto;
}

.carousel-inner p{
  text-align: justify;
}

@media (max-width: 576px) {

  .carousel-control-prev,
  .carousel-control-next {
    bottom: auto !important;
    height: 220px !important;
    width: 10% !important;
  }

  .carousel-inner img {
    height: 220px;
  }

  .carousel-indicators {
    top: 200px !important
  }

  .carousel-caption {
    top: 150px;
    bottom: auto;
  }
}